:root {
  --main-text-color: #434455;
  --second-text-color: #2e2f42;
  --color-hover: #404bbf;
  --accent: #4d5ae5;
}
/* body */
body {
  font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  color: var(--main-text-color);
}
/* header */
.logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--accent);
}
.logo-studio {
  color: var(--second-text-color);
}
.header-nav {
  text-decoration: none;
  color: var(--second-text-color);
  font-weight: 500;
  line-height: 1.5;
}
.header-nav:hover,
.header-nav:focus {
  color: var(--color-hover);
}
.adress {
  text-decoration: none;
  color: var(--main-text-color);
  font-style: normal;
  line-height: 1.5;
}
.adress:hover,
.adress:focus {
  color: var(--color-hover);
}
/* main */
/* hero */
.hero {
  background: var(--second-text-color);
}

.title-hero {
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  line-height: 1.07;
  text-align: center;
}
.btn-hero {
  color: var(--accent);
  cursor: pointer;
}
.btn-hero:hover,
.btn-hero:focus {
  background: var(--color-hover);
}
.btn-text {
  font-weight: 500;
  color: #ffffff;
  line-height: 1.5;
}
/* section 1 */
.title-adv {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.text-adv {
  line-height: 1.5;
}

/* section 2 */
.section-title {
  font-weight: 700;
  font-size: 36px;
  color: var(--second-text-color);
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
}
/* section 3 */
.section-team {
  background: #f4f4fd;
}
.team-member {
  background: #ffffff;
}

.member-name {
  font-weight: 500;
  font-size: 20px;
  color: var(--second-text-color);
  line-height: 1.2;
  text-align: center;
}
.member-job {
  line-height: 1.5;
  text-align: center;
}

/* footer */
.footer {
  background: var(--second-text-color);
}
.logo-footer {
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
  line-height: 1.5;
}

/* portfolio */
.btn-portfolio {
  background: #f4f4fd;
  cursor: pointer;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  background: var(--color-hover);
}
.btn-name {
  color: var(--accent);
  font-weight: 500;
  line-height: 1.5;
}
.btn-name:hover,
.btn-name:focus {
  color: #ffffff;
}
.title-portfolio {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.type-portfolio {
  line-height: 1.5;
}
